<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container nav-collapse collapse">
        <ul class="nav" id="cur_modules">
          <li>
              <div class="btn-group">
                <a class="btn btn-small btn-inverse" href="{{ url_for('.index') }}" title="Главная страница"><i class="icon-home icon-white"></i></a>
              {% for item in main_menu %}
                <a class="btn btn-small btn-inverse{% if request.blueprint == item.module %}{% endif %}" href="{{ url_for(item.module + '.index') }}" title="{{ item.name }}">{{ item.name }}</a>
              {% endfor %}
              </div>
          </li>
        </ul>
    </div>
  </div>
</div>