{% extends "admin/base.html" %}

{% block content %}
  <legend>{%- if info['name'] -%}{{ info['name'] }} ({{ info['code'] }}){%- else -%}{{ info['code'] }}{%- endif -%}</legend>
  {% if data %}
    <div class="row-fluid">
        <div class="span3">
            {% if fields %}
            <select name="origin_fields">
                {% for field in fields %}
                <option value="{{ field }}">{{ field }}</option>
                {% endfor %}
            </select>
            {% endif %}
        </div>
        <div class="span6">
            <select name="linked_collection" class="span8" id="linked_collection">
            <option value="">- выберите справочник для связи -</option>
            {% for item in data %}
                {%- if item._id != info._id -%}
                <option value="{{ item._id }}">
                    {%- if item['name'] -%}{{ item['name'] }} ({{ item['code'] }}){%- else -%}{{ item['code'] }}{%- endif -%}
                </option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
        <div class="span3"></div>
    </div>
  {% endif %}
{% endblock %}