{% extends "admin/base.html" %}

{% block content %}
  <legend><h2>Справочники</h2></legend>
  {% if data %}
  <div class="row-fluid">
  {% for column in data|slice(2) %}
    <div class="span6">
      <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th width="1%"></th>
                <th>Информация</th>
            </tr>
        </thead>
        <tbody>
            {% for item in column %}
            <tr>
                <td>
                    {% if item.oid %}
                    <a class="icon label" href="{{ url_for('.dict_view', _id=item._id) }}" title="Просмотр значений"><i class="icon-white icon-list"></i></a>
                    {% else %}
                    <a class="icon label label-info" href="{{ url_for('.dict_edit', _id=item._id) }}" title="Редактировать справочник"><i class="icon-white icon-pencil"></i></a>
                    {% endif %}
                </td>
                <td>
                    {%- for key, value in item|dictsort() -%}
                        {% if key == 'linked' %}
                            <b>{{ key }}: </b><br>
                            <ul>
                            {%- for kk, vv in value|dictsort() -%}
                                <li><b><i>{{ kk }}: </i></b>
                                 {%- if vv is mapping -%}
                                     <ul>
                                    {%- for k, v in vv|dictsort() -%}
                                        <li>
                                        {%- if k == 'date' -%}
                                        {{ v }}
                                        {%- else -%}
                                        {{ v }}
                                        {%- endif -%}
                                        </li>
                                    {%- endfor -%}
                                     </ul>
                                {%- else -%}
                                    {{ vv }}
                                {%- endif -%}
                                </li>
                            {%- endfor -%}
                            </ul>
                        {% elif key != '_id' %}
                        <b>{{ key }}: </b>
                        {%- if value is mapping -%}
                            {%- for kk, vv in value|dictsort() -%}
                                {%- if kk == 'date' -%}
                                {{ vv }}
                                {%- else -%}
                                {{ vv }}
                                {%- endif -%}
                                {%- if not loop.last -%}, {% endif -%}
                            {%- endfor -%}
                        {%- else -%}
                            {{ value }}
                        {%- endif -%}<br />
                        {%- endif -%}
                    {%- endfor -%}
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
  </div>
  {% endif %}
{% endblock %}